Books/src/Service/BookService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://Service/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://Service/" schemaLocation="BookService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAll">
    <part name="parameters" element="tns:getAll"/>
  </message>
  <message name="getAllResponse">
    <part name="parameters" element="tns:getAllResponse"/>
  </message>
  <message name="add">
    <part name="parameters" element="tns:add"/>
  </message>
  <message name="addResponse">
    <part name="parameters" element="tns:addResponse"/>
  </message>
  <message name="update">
    <part name="parameters" element="tns:update"/>
  </message>
  <message name="updateResponse">
    <part name="parameters" element="tns:updateResponse"/>
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="changeBook">
    <part name="parameters" element="tns:changeBook"/>
  </message>
  <message name="changeBookResponse">
    <part name="parameters" element="tns:changeBookResponse"/>
  </message>
  <portType name="BookService">
    <operation name="getAll">
      <input ns1:Action="http://Service/BookService/getAllRequest" message="tns:getAll" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://Service/BookService/getAllResponse" message="tns:getAllResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="add">
      <input ns3:Action="http://Service/BookService/addRequest" message="tns:add" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://Service/BookService/addResponse" message="tns:addResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="update">
      <input ns5:Action="http://Service/BookService/updateRequest" message="tns:update" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://Service/BookService/updateResponse" message="tns:updateResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="delete">
      <input ns7:Action="http://Service/BookService/deleteRequest" message="tns:delete" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://Service/BookService/deleteResponse" message="tns:deleteResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="changeBook">
      <input ns9:Action="http://Service/BookService/changeBookRequest" message="tns:changeBook" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://Service/BookService/changeBookResponse" message="tns:changeBookResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

